body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.layout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 6vh 12vh 41vh 41vh;
    grid-template-areas:
    "header header header header header header header header header header header header header header header"
    "category category category category category category category category category category category category category category category"
    "content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1"
    "content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2";
}

#header{
    grid-area: header;
    background-color: blue;
}

#category{
    grid-area: category;
    background-color: seashell;
}

#content1{
    grid-area: content1;
    background-color: lightgray;
}

#content2{
    grid-area: content2;
    background-color: lightsteelblue;
}
